@model MvcDeganitSite.Models.MainCategory

@{
    ViewBag.Title = "מחיקה";
}

<h2>מחיקה</h2>

<h3>האם את בטוחה שאת רוצה למחוק את הקטגוריה הזאת?</h3>
<fieldset>
    <legend>קטגוריה ראשית</legend>

    <div class="display-label">שם</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="מחקי" /> |
        @Html.ActionLink("חזרה", "Index")
    </p>
}
