@model IEnumerable<MvcDeganitSite.Models.MainCategory>

@{
    ViewBag.Title = "קטגוריות ראשיות";
}

<h2>קטגוריות ראשיות</h2>

<p>
    @Html.ActionLink("צרי קטגוריה ראשית חדשה", "Create")
</p>
<table>
    <tr>
        <th>
            שם
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
          
            @Html.ActionLink("מחיקה", "Delete", new { id=item.MainCategoryId })
        </td>
    </tr>
}

</table>
