@{
    ViewBag.Title = "Index";
}

<h2>אתרים מומלצים</h2>
<ul>
    <li>
        לאתר של קרין גורן <a href="http://www.carine.co.il/htmls/home.aspx">לחץ כאן</a>
    </li>
    <li>
        לאתר של שפים מתחילים <a href="http://www.23tv.co.il/2253-he/shefim.aspx">לחץ כאן</a>
    </li>
    <li>
        לאתר של השף הלבן <a href="http://www.chef-lavan.co.il/">לחץ כאן</a>
    </li>
    <li>
         לאתר בישולים <a href="http://www.bishulim.co.il/">לחץ כאן</a>
    
    </li>
</ul>
