@{
    ViewBag.Title = "אודות דגנית";
}

<h2>אודות</h2>
<p>
   דגנית זידמן היא הכי חמודה בעולם, יצירתית אוהבת לבשל,לנגן בגיטרה ולחבק את עילי<br />
   אתר זה נועד כדי לעשות סדר במאות המתכונים שיש לדגנית ושהם לא יהיו מפוזרים על שולחן 
   <br />
   העבודה ובכל מיני תיקיות! <strong>גלישה נעימה</strong>
</p>
