@{
    ViewBag.Title = "אודות דגנית";
}

<h2>אודות</h2>
<p>
   דגנית זידמן היא מאפרת, יצירתית אוהבת לבשל ולנגן בגיטרה .<br />
   אתר זה נועד כדי לעשות סדר במאות המתכונים שיש לדגנית ושהם לא יהיו מפוזרים על שולחן 
   
   העבודה ובכל מיני תיקיות! 
    <br />
    מדריך: כדי להתחיל לגלוש באתר נא הרשם לאחר מכן תוכל לצרף מתכונים חדשים למאגר הכללי כמו כן תוכל להוסיף מתכונים למאגר האישי שלך 
   <br />
    כדי להוסיף מתכונים למאגר הכללי לך ל"כל המתכונים" ואז לחץ על הוסף מתכון. <br />
    כדי להוסיף למאגר האישי שלך לך ל"כל המתכונים" ומתוך הרשימה לחץ על הוסף למאגר של+שם משתמש.

    <strong>גלישה נעימה</strong>
</p>
